.video-descriptionarea {
    display: flex;
    align-items: center;
    margin: 5px 0;
    gap: 10px;
}

.video-title{
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
}

.video-description {
    font-size: 0.8rem;
    margin: 0;
}

.video-logo {
    height: 40px;
    width: 40px;
    border-radius: 50px;
}

.video-item iframe{
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.video-list{
    padding: 20px;
}