.video-descriptionarea {
    display: flex;
    align-items: center;
    gap: 10px;
}

.video-title{
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
}

.video-description {
    font-size: 0.8rem;
    margin: 0;
}

.video-logo {
    height: 40px;
    width: 40px;
    border-radius: 50px;
}

.video-item iframe, .thumb{
    width: 100%;
    height: 200px;
    border-radius: 15px;
}

.video-list{
    padding: 20px;
    padding-bottom: 50px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-auto-rows: minmax(200px, 1fr);
    gap: 20px
}

@media (max-width: 768px){

    .video-list {
        grid-template-columns: repeat(auto-fill, minmax(100%, 100%));
    }
}